
/*:root { font-size: 16px }
@media (max-width: 500px) { :root { font-size: 14px } }
*/


.container{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 40px;
	height: 20px;
}

.bars{
	width:45px;
	height: 5px;
    background: #ffffff;
    animation:shine_border 5s ease-in-out alternate infinite;
}

.bars::before,
.bars::after{
	content: '';
	position: absolute;
	width: 45px;
	height: 5px;
    background: #ffffff;
    animation:shine_border 2s ease-in-out alternate infinite;
}

.bars::before{
	margin-top: 9px;
}

.bars::after{
	margin-top: 18px;
}

.nav_ani{
    position: fixed;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.863);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: -200vw;
    z-index: 2;
    top: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
  
  
  }
  
  .nav_ani ul {
    list-style: none;
  }
  
  .nav_ani ul li{
    margin: 50px 0;
  }
  
  .nav_ani ul li a{
    color: #fafafa;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav_ani ul li a:after{
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    bottom: -10px;
    left: 0;
    transform-origin: left;
    transition: transform .5s ease;
    transform: scaleX(0);
  }
  
  
  .nav_ani ul li a:hover:after{
    transform: scaleX(1);
  }
  
  .nav_ani .close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 6%;
    right: 8%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav_ani h2{
    position: absolute;
    top:5%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    font-size: 2em;
  }
  
  .nav_ani .close div::before,
  .nav_ani .close div::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transition: background .5s ease;
  }
  .nav_ani .close div::before{
    transform: rotate(-45deg);
  }
  
  .nav_ani .close div::after{
    transform: rotate(45deg);
  }
  
  .nav_ani .close:hover div::before,
  .nav_ani .close:hover div::after{
    background: rgb(209, 3, 3);
  }