
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #87cd33;
  color: white;
}

::selection {
  background: #87cd33;
  color: white;
}

body {

  
   background-image: linear-gradient(to bottom right,#040314,#060888b9);
  overflow: hidden;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
}

.title {
	padding-top: 1rem;
	color: rgba(91, 74, 47, 0.72);
	font-size: 5rem;
	text-align: center;
	text-shadow: #fff;
	padding-left: 15px;
	padding-right: 15px;
  
	font-family: "Roboto", sans-serif;
	font-family: "Ubuntu", sans-serif;
  }

.neons h1 {
	text-align: center;
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
  }
  h1 {
	padding-top: 3rem;
	/* padding-left: 3rem; */
	font-size: 3.3rem;
	text-decoration: none;
	color: #f2b553;
	text-align: center;
	position: relative;
  }
  
  h1 {
	-webkit-text-stroke: 1.8px rgba(255, 115, 0, 0.323);
  }



h1 { font-size: 5rem }
h2 { font-size: 2rem }

img {
  width: 40vw;
  height: 98%;
  background: #f0f0f0;

}

.demo-gallery ul {
  padding-left: 0rem;
  list-style: none;

}

.wrapper li {
  flex-shrink: 20;
  /* gap: 0; */
  width: clamp(500px, 60vw, 800px);

  padding-right: 0rem;
  /* margin: auto; */
  /* padding: auto; */
}

header {height: 15vh}
footer {height: 0vh}

:-webkit-any-link { color: #eaece8; }

:-moz-any-link { color: #ebeeea; }

:any-link { color: #e6ebe3; }

.df {display: flex}
.aic {align-items: center}
.jcc {justify-content: center}



.demo-wrapper {
  overflow-x: hidden;
}

.wrapper {
  display: flex;

}
.demo-gallery{padding-left: 0rem; padding-right: 0rem; }
.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(4rem, 8vw, 8rem);
  line-height: 1;
  font-weight: 500;
}
.mobile-view {
	font-size: 8rem;
  }
  
  @media only screen and (max-width: 420px) {
	.mobile-view {
	  font-size: 3.5rem;
	}
	.nav_ani ul li a{
		
		font-size: 2em;
	}
  
	}
	@media only screen and (max-width: 320px) {
		.mobile-view {
		  font-size: 3 rem;
		}
		.nav_ani ul li a{
			
			font-size: 2em;
		}
	  
		}
  

  
 
	
  